#navigate {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;
}

#container {
    width: 90%;
    margin: 0 auto;
    padding: 0 0 0 1em;
    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    box-shadow: 0 0 5px #d0d0d0;
}

#contents>p {
    width: 90%;
    margin: 0 0 0.5em 0;
    padding: 0.5em;
    background-color: #e0e0e0;
    border-bottom: 1px solid #d0d0d0;
    border-radius: 5px 5px 0 0;
}

button {
    padding: 0.5em 1em;
    color: white;
    background-color: hsl(83, 93%, 11%);
    border: 1px solid hsl(0, 0%, 82%);
    border-radius: 5px;
    box-shadow: 0 0 5px #d0d0d0;
}