:root {
    --mainGreen: #223602;
    --mainSelected: hsl(83, 93%, 21%);
    --greyMain: #f5f5f5;
    --greyBorder: #e0e0e0;
    --greyShadow: #d0d0d0;
    --greySelected: #adadad;
  }

#navigate {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;
}

#container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    border: 1px solid var(--greyBorder);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--greyShadow);   
}
#nowShowing {
    grid-column: 1/3;
}
#container>div {
    margin-bottom: 0.8em;
    margin-left: 1em;
}
#contents {
    margin: 0 1em 0 0;
    display:grid;
    gap: 0.5em 0.5em;
    grid-template-columns:  auto 40px;
}

h1 {
    text-align: center;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
h2 {
    margin-left: 1em;
}
#addNewItem {
    padding: 0.3em;
    margin-right: 0.5em;
    grid-column: 1/3;
    max-width: 500px;
}
#addingBox {
    margin:auto 0;
    float: right;
}
#addingBox>button {  
    padding:0 0.5em;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-right: 1em;
}
.header>p {
    margin:auto 0; 
}
.header>h4, .header>h2 {
    margin-right: auto;
    margin-left: 0.4em;
}

#edits > h3, #edits >p {
    display: inline-block;
}
#edits > p {
    margin-left: 2em;
}
form > input {
    margin: 0 0.1em 0.5em 0;
    
}
form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: auto;
    align-items: center;
}
form > button, form > input, form > select {
    grid-column: 2/3;
}
form > label {
    grid-column: 1/2;
    margin: 0 0.5em 0.5em 0;
    text-align: right;
}
form > input[type="radio"] {
    margin-left: 1em;
    margin-right:auto;
}
button {
    padding: 0.5em 1em;
    color: white;
    background-color: #223602;
    border: 2px solid var(--greyBorder);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--greyShadow);
}
button:hover {
    border: 2px solid var(--greySelected);
}
button.selected {
    background-color: var(--mainSelected);
}
#tagsbtn {
    font-size: 0.5em;
}
.editButton, .deleteButton {
    background-color: var(--greyShadow);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    overflow: hidden;
    box-shadow: unset;
    height: 2em;
}
.editButton {
    background-image: url('./img/edit_20dp.png');

}
.deleteButton {
    background-image: url('./img/delete_20dp.png');

}
#footer {
    grid-column: 2 / 3;
    padding: 1em;
    margin: 1em 1.2em 0 2em;

}
#disclaimers >p {
    font-size: 0.8em;
    display:none;
}
#disclaimers.visible >p{
    display:block;
}


#edits, #detail {
    border: 1px solid var(--greyBorder);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--greyShadow);
    margin: 0 0.5em 0.5em 0.5em;
    padding: 0 0.5em 1.5em 1em;
    box-sizing: border-box;
}

div.item {
    /* background-color: #e0e0e0; */
    background-color: var(--greyMain);
    padding: 0.5em;
    border-bottom: 0.1em solid var(--greyBorder);
    border-right: 0.1em solid var(--greyBorder);
    border-radius: 5px;
    grid-column: 1/2;
    grid-row: span 2;
    display: flex;
    flex-direction: row;
}
div.item:hover {
    background-color: var(--greyShadow);
    border-color: var(--greyShadow);
    box-shadow: 0 0 5px var(--greyBorder);
}
div.edit {
    grid-column: 2/3;
    margin:auto;
}
div.delete {
    grid-column: 2/3;
    margin:auto;
}
div#detail {
    background-color: var(--greyMain);
    grid-column: 1 / 3;
}

div.selected {
    background-color: var(--greySelected);
    border-color: var(--greySelected);
    box-shadow: 0 0 5px var(--greyShadow);
}
.item > h3, .item >p {
    /* display: inline-block; */
    margin: auto 0.5em;
}
.item > h3 {
    margin-left: 0.5em;
    margin-right: auto;
}

[class^="status"] {
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    color: transparent;
}
p.status1 {  /* Active */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--mainSelected);
    box-sizing: border-box;
    
}
p.status0 {  /* Planning */
    background-image: url('./img/pending_20dp.png');
}
p.status3 { /* Completed */
    border-radius: 50%;
    background-color: var(--mainSelected);
    background-image: url('./img/done.png');
} 
p.status2 { /* inactive */
    background-image: url('./img/pause_circle_20dp.png');

}
p.totalTime {
    background-image: url('./img/schedule_20dp_223602.png');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    overflow: hidden;
    /* leave space for the icon */
    padding-left: 20px;
    margin-right: 0.4em;
    text-align: right;
    max-height: 1em;
    width: 5.5rem;
}
p.deadline {
    background-image: url('./img/calendar_clock_20dp.png');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: 20px;
    padding-left: 22px;
}
p.noDeadline {
    background-image: url('./img/calendar_add_on_20dp.png');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    overflow: hidden;
    padding-left: 22px;
    min-height: 20px;
    color: var(--greySelected);
}
.detailTask {
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 0.5em 0.5em 0 0;
}
.shadowbox {
    border-left: 0.2em solid var(--greyBorder);
    box-shadow: 0 0 5px var(--greyShadow);
}
.selected > #taskTimers >.shadowbox {
    border: 2px solid var(--greyShadow);
    
}

[id^=timer] {
    display: inline-block;
    color: transparent;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 20px;
    width: 20px;
    padding:1em;
    margin: 1em 0;
}
#taskTimers{
    margin-left: 1em;
}
#timerStart{
    background-image: url('./img/timer_play_20dp_F5F5F5.png');
    background-color: var(--mainSelected);
}
#timerStart.running {
    background-color: var(--greySelected);
}
#timerStop{
    background-image: url('./img/timer_off_20dp_F5F5F5.png');
    background-color: var(--greySelected);   
}
#timerStop.valid {
    background-color: var(--mainSelected);
}

@media screen and (min-width: 960px) {

    #site-container {
        display: grid;
        grid-template-columns: 130px auto;
    }
    #site-container > h1 {
        grid-column: 1 / 3;
        
    }
    #navigate {
        margin-left: 2em;
        flex-direction: column;
        justify-content: unset;
    }
    #navigate > button {
        width: 120px;
        margin-bottom: 1em;
        
    }
    #container {
        max-width: unset;
    }
    #contents {
        max-width: unset;
        grid-column: 1 / 2;
        grid-template-columns: minmax(350px, 2fr) 40px 3fr;
        grid-auto-rows: minmax(60px, auto); 
    }
    #taskTimers{
        margin-left: 0.2em;
    }
    #dataTable {
        max-width: unset;
    }
    div#edits {
        grid-column: 3 / 4;
        grid-row: 1 / 19
    }
    div#detail {
        grid-column: 3 / 4;
        grid-row: 1 / 19
    }
    .header {
        padding-right: 0.2em;
    }
}
@media screen and (max-height: 500px){
    /* For mobile phones turned sideways */
    #container {
        width: 95%;
        max-width: unset;
    }
}
@media screen and (min-width: 1201px)  {
    #site-container {
        max-width: 1300px;
        margin: 0 auto;
    }
    #container {
        grid-template-columns: 1fr 1fr;
    }
    h1 {
        font-size: 60px;
    }
    table {
        max-width: unset;
    }
    #edits {
        max-width: unset;
    }
    #projectsbtn {
        font-size: 1.2em;
    }
}
@media screen and (max-width: 450px) {
    div.item.selected, .header {
        display:block;
    }
    p[class^="status"] {
        float:left;
        margin-right: 0.5em;
    }
    p.totalTime {
        margin-top: 0.5em;
    }
    
}